<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="(alt) Share your genetic and genealogic links with the world" />
        <meta property="og:title" content="(alt) Share your genetic and genealogic links with the world" />
        <meta property="og:url" content="https://fcc-simple-landingpage.herokuapp.com/" />
        <meta property="og:image" content="static/around_world.png" />
        <title>(alt) Share your genetic and genealogic links with the world</title>
    </head>
</html>